<div class="site__frame">
    <div class="design__top design_RT"></div>
    <div class="design__top design_RB"></div>
    <div class="design__top design_MB"></div>
    <div class="design__top design_LB"></div>

    <div class="site__heading">
      <p-menubar [model]="mainMenu">
        <ng-template pTemplate="start">
          <img src="\assets\img\main\logo.png" height="60">
        </ng-template>
      </p-menubar>
    </div>
    <div class="site_body">
      <router-outlet></router-outlet>
      <app-login [visible]="showLogin" (closeClick)="closeLoginDialog()"></app-login>
    </div>
</div>
