<div class="main__page">
  <div class="main__page-decoration">
    <div class="decoration__img">
      <div class="img_wraper"><img src="/assets/img/preview1/p1.jpg" /></div>
    </div>
    <p class="decoration__heading">Йогуртовые хлопья</p>
  </div>
  <div class="main__page-info">
    <div class="info__heading">
      <div class="lead-text">Промо-акции</div>
      <div class="secondary-text">Торт со скидкой</div>
    </div>
    <div class="info__content">
      <div class="content__order"><button class="btn btn-prumary">Заказать</button></div>
      <div class="lead-text">Открыто/Закрыто 8:00 - 23:00 | каой-то адрес.</div>
      <div class="secondary-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
    <div class="info__footer">www.my-site.com</div>
  </div>
</div>
