<div class="main__page">
  <div class="main__page-decoration">
    <div class="decoration__img">
      <div class="img_wraper"><img src="/assets/img/preview1/p1.jpg" /></div>
    </div>
    <p class="decoration__heading">Йогуртовые хлопья</p>
  </div>
  <div class="main__page-info">
    <div class="info__heading">
      <div class="lead-text">Промо-акция</div>
      <div class="secondary-text">Пирожное со скидкой</div>
    </div>
    <div class="info__controls"><button class="mbtn btn-primary">Заказать</button></div>
    <div class="info__content">
      <div class="lead-text">Открыто/Закрыто 8:00 - 23:00 | какой-то адрес.</div>
      <div class="secondary-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
    </div>
    <div class="info__footer">
      <div class="info__footer-site">www.my-site.com</div>
      <ul class="info__footer-soceal">
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-facebook-circled"></i></a></li>
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-instagram"></i></a></li>
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-vkontakte"></i></a></li>
        <li class="soceal__item"><a class="soceal__link"><i class="soceal__icon icon-whatsapp"></i></a></li>
      </ul>
    </div>
  </div>
</div>
